@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome</h1>
    <br />
    <h3><a href="@Url.Content("~/Index.html")">App</a></h3>
    <br />
    <h3><a asp-controller="Rates" asp-action="Index">Rates</a></h3>
</div>
